@import "navbar";

$color1: pink;
$color2: white;
$w1: 500px;
$w2: $w1 / 2;

html {
    font: {
        family: Tahoma, sans-serif;
        size: 20px;
    }
}

body {
    background-color: $color1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    main {
        background-color: $color2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        
        h1 {
            color: $color2;
            background-color: $color1;
            font-size: 2rem;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            width: $w1;
        }

        img {
            width: $w2;
            aspect-ratio: 1/1;
            object: {
                fit: cover;
                position: 0% 0%;
            }
            border-radius: 10%;
        }
    
        h2 {
            color: $color1;
            font: {
                size: 1rem;
                weight: 500;
                style: italic;
            }
        }
    }
}
