$color1: pink;
$color2: white;

html {
    font: {
        family: Tahoma, sans-serif;
        size: 20px;
    }
}

body {
    background-color: $color1;
    text-align: center;

    h1 {
        color: $color1;
        background-color: $color2;
        font-size: 2rem;
        padding: 30px;
    }

    h2 {
        color: $color2;
        font: {
            size: 1.1rem;
            weight: 500;
            style: italic;
        }
    }
}

